body{
	background: none !important;
    overflow: hidden !important;
}

html{
    overflow: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bankui {
    opacity: 0;
    transition: 0.5s ease-in-out opacity;
    margin-top: 3%;
}

.hidden{
    display: none !important;
}

.header-title {

}

.img-spacer {
    padding-right: 20px;
    padding-left: 20px;
}

.income {
    color: rgb(0, 230, 0);
    text-shadow:  2px 2px rgba(0, 0, 0, 0.05);
}

.addition {
    color: rgb(0, 230, 0);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.05);
}

.expense {
    color: rgb(255, 145, 0);
    text-shadow:  2px 2px rgba(0, 0, 0, 0.05);
}

p {
    margin-bottom: 0.5rem;
}

.note {
    margin: 0;
}

.account {
    margin: 1rem;
    margin-bottom: 0.4rem;
}


.deposit{
    background: #94ef7b;
    color: #000 !important;
    border: 0;
}

.withdraw{
    background: #f2a468;
    color: #000 !important;
    border: 0;
}

.transfer{
    background: #4086EB;
    color: #000 !important;
    border: 0;
}

.deposit:hover{
    background: #81DA68;
}

.withdraw:hover{
    background: #C17438;
    color: #fff !important;
}

.transfer:hover{
    background: #3879D6;
}

.container{
    margin-top: 13%;
}

#Transaction_Row{
    height: 900px;
    overflow-y: scroll;
    box-sizing: content-box;
}

.dark-modal, .modal-body, .modal-header, .modal-footer{
    color: #fff;
    background: #212529;
    border: 0 !important;
}

.right{
    float: right;
    right: 0;
}

.account_settings{
    transition: color .5s ease-in-out;
}

.account_settings:hover{
    color: #FF0000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #212529;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #363B40;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #212529;
}